body {
  margin: 0;
}

.report_header {
  width: 250px;
  display: block;
  background-color: rgba(245, 222, 179, 0.3);
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.report_header_text {
  font-size: 40px;
  background-color: rgba(255, 99, 71, 0.3);
  padding: 60px;
  margin: 0;
}

.report_header .items {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 50px;
}

#home {
  background-color: rgba(0, 128, 128, 0.3);
  cursor: pointer;
  transition: background-color 0.2s linear;
}

#home:hover {
  background-color: teal;
  color: white;
}

#download {
  background-color: rgba(0, 128, 128, 0.3);
  cursor: pointer;
  transition: background-color 0.2s linear;
}

#download:hover {
  background-color: teal;
  color: white;
}

.report_header span {
  display: block;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.report_export {
  display: block;
  margin: 10px 0px;
  text-align: center;
}

.topBtn {
  cursor: pointer;
  margin-top: 150%;
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(65, 105, 225, 0.3);
  transition: background-color 0.2s linear;
}

.topBtn:hover {
  background-color: royalblue;
  color: white;
}

.report_main {
  margin-left: 250px;
}

.report_main_title {
  margin: 0;
  padding: 60px;
  font-size: 40px;
  background-color: rgba(0, 128, 128, 0.3);
}

#all {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0px 40px;
  border-collapse: collapse;
}

#all h4 {
  color: rgb(255, 99, 71, 0.8);
  font-size: 50px;
  text-align: center;
  padding-bottom: 0px;
  border-bottom: 3px solid rgba(255, 99, 71, 0.5);
  margin-bottom: 0;
  margin-top: 10px;
  font-family: "Dongle", sans-serif;
}

#box {
  text-align: center;
  border-bottom: 2px solid rgba(0, 128, 128, 0.5);
  text-decoration: none;
  color: inherit;
  padding-top: 10px;
  color: rgba(65, 105, 225, 0.3);
  transition: color 0.2s linear;
  display: table;
}

#box:hover {
  cursor: pointer;
  color: royalblue;
}

#icon {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#all span {
  border-bottom: 2px solid rgba(0, 128, 128, 0.5);
  padding: 20px 10px;
  text-align: center;
  font-family: "Dongle", sans-serif;
  font-size: 30px;
}
