</DOCTYPE html>
<html>
  <head>
    <title>Job Search</title>
    <link rel="stylesheet" href="static/css/home.css" />
  </head>
  
  <body>
    <div class="home_header">
      <h1 class="home_title">
        Job Search
      </h1>
      <p class="home_text">What do you want?</p>
    </div>

    <form action="/report" method="get" id="input_form">
      <input type="text" placeholder="Input Jobs Name!" onfocus="this.placeholder=''" onblur="this.placeholder='Input Jobs Name!'" required name="word" />
      <input type="submit" value="Let's Go!" />
    </form>
  </body>
</html>